<link rel='apple-touch-icon' sizes='180x180' href='{{ site.url }}{{ site.baseurl }}/assets/favicons/apple-touch-icon.png'>
<link rel='icon' type='image/png' href='{{ site.url }}{{ site.baseurl }}/assets/favicons/favicon-32x32.png' sizes='32x32'>
<link rel='icon' type='image/png' href='{{ site.url }}{{ site.baseurl }}/assets/favicons/favicon-16x16.png' sizes='16x16'>
<link rel='manifest' href='{{ site.url }}{{ site.baseurl }}/assets/favicons/manifest.json'>
<link rel='mask-icon' href='{{ site.url }}{{ site.baseurl }}/assets/favicons/safari-pinned-tab.svg' color='#ef233c'>
<link rel='shortcut icon' href='{{ site.url }}{{ site.baseurl }}/assets/favicons/favicon.ico'>
<meta name='msapplication-config' content='{{ site.url }}{{ site.baseurl }}/assets/favicons/browserconfig.xml'>
<meta name='theme-color' content='#ffffff'>
