@include font-face('icons', 'fonts/icons');

body {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.wrapper {
  box-sizing: border-box;
  @include clearfix;
  margin: 0 auto;
  max-width: $wrapper;
  padding: 0 1.5*$space;
  width: 100%;
}

.cover {
  background-position: center center;
  background-size: cover;
  min-height: 50px;
  min-width: 50px;
}
