/* Misc */
$wrapper: 1040px;

/* Fonts */
@import 'https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i,900,900i';
$headline: 'Roboto', Helvetica, Arial, sans-serif;
$body: 'Roboto', Helvetica, Arial, sans-serif;

/* Partials */

$partials: (
  base,
  menu
);
