{% include utils/i18n.liquid %}
{% include utils/path.liquid %}

<html>
<head>
  {% if site.google_tag_manager %}{% include google/tag-manager.html %}{% endif %}

  <meta charset='utf-8'/>
  <meta http-equiv='Content-Language' content='{{ lang }}'/>
  <meta name='viewport' content='width=device-width, initial-scale=1'/>

  <!-- SEO -->
  <title>{% if page.url == "/" %}{{ site.title }} | {{ page.title }}{% else %}{{ page.title }} | {{ site.title }}{% endif %}</title>
  <meta name='keywords' content='{{ keywords | join: ", " }}'/>
  {% seo title=false %}

  <!-- Links -->
  <link rel='canonical' href='{{ site.url }}{{ site.baseurl }}{{ page.url | replace:'index.html','' }}'>
  <link rel='alternate' type='application/rss+xml' title='{{ site.title }}' href='{{ site.url }}{{ site.baseurl }}/feed.xml' />

  <!-- Favicons -->
  {% include favicons.html %}

  <!-- CSS -->
  <link rel='stylesheet' href='{{ site.url }}{{ site.baseurl }}/assets/styles.css'>
</head>

<body class='lang-{{ lang }}{% if page.collection %} type-{{ page.collection }}{% else %}{% if depth > 0 %} page-{{ path | join: '-' }}{% else %} page-front{% endif %}{% endif %}{% if page.class %} {{ page.class }}{% endif %}'>
  {% if site.google_tag_manager %}{% include google/tag-manager-noscript.html %}{% endif %}

  <header id='header'>
    <div class='wrapper'>
      {% include header.html %}
    </div>
  </header>

  <section id='content'>
    {{ content }}
  </section>

  <footer id='footer'>
    <div class='wrapper'>
      {% include footer.html %}
    </div>
  </footer>

  <!-- JS -->
  <!--[if lt IE 9]><script src='https://html5shim.googlecode.com/svn/trunk/html5.js'></script><![endif]-->
  <script src='{{ site.url }}{{ site.baseurl }}/assets/scripts.js' type='text/javascript'></script>
  {% if site.google_analytics %}{% include google/analytics.html %}{% endif %}
</body>
</html>
