---
layout: default
---

{% assign t = site.data.translations %}
{% assign lang_default = site.lang[0] %}
{% if page.lang != nil %}
  {% assign lang = page.lang %}
{% else %}
  {% assign lang = lang_default %}
{% endif %}

{% assign posts = site.posts | where: 'lang', lang %}

<header class='hero'>
  {% assign post = posts.first %}
  {% include teaser.html %}
</header>

<ul class='posts featured'>
  {% for post in posts | offset: 1 | limit: 3 %}
  <li>
    {% include teaser.html %}
  </li>
  {% endfor %}
</ul>
